@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#textPlaceholder ol {
  padding-left: 0.5em;
}

#textPlaceholder ol li {
  list-style-type: decimal;
  /* or 'decimal-leading-zero', 'upper-alpha', 'lower-alpha'... */
  list-style-position: outside;
  /* or 'inside' */
  margin-left: 1em;
  /* gives 'room' for the numbers to appear in */
}

.list-text {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

