
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

#textPlaceholder {
  ol {
    padding-left: 0.5em;
    li {
      list-style-type: decimal; /* or 'decimal-leading-zero', 'upper-alpha', 'lower-alpha'... */
      list-style-position: outside; /* or 'inside' */
      margin-left: 1em; /* gives 'room' for the numbers to appear in */
    }
  }
}

.list-text {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}
